



<section class="about-two">
    <div class="container">
        <div class="about-two__bottom-content">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                <div class="about-two__single-img">
                    <img src="public/assets/images/about/college.jpeg" alt="">
                </div>
            </div>

                <div class="col-xl-7 col-lg-7">
                    <div class="about-two__text-box">
                        <p class="about-two__text-box-text">BNCET is a consortium of leading colleges of International standards has been established under the auspicious aegis of Baij Nath Charitable and Educational Trust in the year 2008 for setting trends and raising standards for management and technical education.</p>
                        <p class="about-two__text-box-text">The objective of our Techno-Managerial programs is to equip our students with knowledge, skills and confidence needed to develop corporate leaders, strategists and decision makers who can significantly contribute in nation building exercise.</p>
                        <p class="about-two__text-box-text">An exhaustive, intensive industry and trade related curriculum covers almost all the functional dimensions of techno managerial education. Case studies, live projects, presentations, seminars, symposiums, internships, study trips and industrial visits part and parcel of the program.</p>
                        <p class="about-two__text-box-text">It is our endeavor to make each BNCETian a success story and BNCET as a pre-eminent techno management college of India for nurturing talent and advancing knowledge in multi ethnic learning environment.</p>
                        <div class="about-two__text-box-btn">
                            <a href="https://bncet.ac.in/courses-eligibility" class="thm-btn">Courses &amp; Eligibility</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
